body {
    margin:0;
    overflow:hidden;
    background:black;
}

#game {
    width:100vw;
    height:100vh;
}

button {
    position:absolute;
    z-index:10;
    top:10px;
    left:10px;

    padding:10px;
    font-size:16px;
}